# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
*.tmp

# Node
node_modules/

# Build
dist/
build/
public/

# Variables de entorno
.env
.env.*

# Composer
vendor/

# CSS/JS maps
*.css.map
*.js.map

# Cache
.cache/
.sass-cache/

# Configuración sensible
/includes/config/*.php
/config/*.php
