@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

@include m.tablet {
  .contenedor-anuncios {
    @include m.grid(3, 2rem);
  }
}
.anuncio {
  background-color: color.adjust(v.$gris, $lightness: 5%);
  border: 1px solid color.adjust(v.$grisOscuro, $lightness:80%);

  .contenido-anuncio {
    padding: 2rem;
  }
  h1, p {
    margin: 0;
  }
}

.precio {
    color: v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;
  li {
    flex: 1;
    display: flex;
    img {
      flex: 0 0 5rem;
      margin-right: 1rem;
      @include m.tablet {
        flex: 0 0 2rem;
        height: 60%;
        margin-right: .4rem;
        margin-top: 1rem;
      }

      @include m.desktop {
        flex: 0 0 5.5rem;
        margin-right: 1rem;

      }

    }
    p {
      font-weight: v.$black;

    }
  }
}