@use 'sass:math';
@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
  padding: math.div(v.$separacion, 2);
  background-color: v.$grisOscuro;

  .contenedor-footer{
    padding-top: math.div(v.$separacion, 2);
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    a{
      color: v.$blanco;
    }
  }

  .copyright{
    color: v.$blanco;
    text-align: center;
  }
}